<div class="container-fluid p-1 mb-2 bg-dark text-warning d-flex rounded-4 border-bottom border-1 border-secondary">  
    <div class="row w-100">
        <div class="col mx-4">
            <strong><%= task.title %></strong>
        </div>
        

        <div class="col text-end d-flex justify-content-end">
            <%= link_to "Delete", user_task_path(current_user, task), type: "button", class: "btn btn-sm btn-outline-danger me-2", data: { turbo_method: :delete } %>
            <button type="button" class="btn btn-sm btn-outline-info me-2" data-bs-toggle="modal" data-bs-target="#Modal<%= task.id %>">Edit</button>
      
            <% if task.repeat == "once" %>
                <%= form_with model: [current_user, task], class: "d-inline" do |form| %>
                <%= form.hidden_field :repeat, value: "today" %>
                <%= form.submit "Do it today", class: "btn btn-sm btn-outline-success" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal<%= task.id %>" tabindex="-1" aria-labelledby="ModalLabel<%= task.id %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel<%= task.id %>">Edit task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_with model: [current_user, task] do |form| %>
                <%= form.text_field :title, class: "mb-2 form-control", minlength: 1, maxlength: 150 %>
                <%= form.submit "Update" %>  
                <% end %>
            </div>
        </div>
    </div>
</div>