<% provide :page_title, "Sign up" %>
<% currently_at "Sign up" %>

<div class="container">
    <%= form_with model: @user do |f| %>
        <div class="row">
            <%= f.label :email, class: "text-white" %>
        </div>
        <%= f.email_field :email, required: true, class: "form-control-sm mb-2" %>

        <div class="row">
            <%= f.label :password, class: "text-white" %>
        </div>
        <%= f.password_field :password, required: true, class: "form-control-sm mb-2" %>

        <div class="row">
            <%= f.label :password_confirmation, class: "text-white" %>
        </div>
        <%= f.password_field :password_confirmation, required: true, class: "form-control-sm mb-3" %>

        <div class="row">
            <div class="col">
                <%= f.submit "Register" %>
            </div>
        </div>
    <% end %>
</div>