<%= provide :nav do %>

  <nav class="navbar navbar-dark bg-dark mb-1 mt-1 border-bottom border-1 border-secondary rounded-4">
    <div class="container-fluid">
      <div class="">
        <%if user_signed_in? %>
          <%= nav_tab "Today", today_path, class: "btn", current_page: current_page %>
          <%= nav_tab "Daily", everyday_path, class: "btn btn-sm", current_page: current_page %>
          <%= nav_tab "Later", later_path, class: "btn btn-sm", current_page: current_page %>      
        <% end %>
      </div>


      <div class="">
        <%if user_signed_in? %>
          <%= nav_tab "Log out", session_path, class: "btn btn-outline-secondary", data: { turbo_method: :delete }, current_page: current_page %>
        <%else%>           
          <%= nav_tab "Log in", new_session_path, class: "btn", current_page: current_page %>
          <%= nav_tab "Sign up", new_user_path, class: "btn", current_page: current_page %>
        <%end%>
      </div>
    </div> 
  </nav>
<% end %>
